.myskills {
    flex-basis: 640px;
    width: 90%;
    margin: auto;
    font-size: 1em; 
    line-height: 60px;
    
}
.mySkills__about {
   padding-left: 1%; 
    font-size: 1em;
}
      li {
        line-height: 60px;
    }
    li::before {
       content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent rgba(87, 118, 136);
      border-width: 5px 0 5px 20px;
      position: absolute;
      left: -30px;
      top: 20px;
}
@media screen and (max-width: 680px) {
      .myskills__about  {
      font-size: 0.9em;  
    }
    footer {
        font-size: 1.1em;
    }
}
