.footer {
      width: 100%;
     background: linear-gradient(to right, rgba(87, 118, 136, 0.5), rgba(175, 141, 112, 0.5));
    padding: 5% 0;
    font-family: gilda-display;
    color: #686868;
    
}
.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    text-align: center;
}
.contacts,
.otherContacts,
.sprite,
.meMedia {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 1.3em;
    line-height: 40px;
}

.footer nav a {
    color: #686868;
    text-decoration: none;
    font-size: 1.1em;
    line-height: 40px;
    
}
@media screen and (max-width: 1024px) {
    .footer nav {
         font-size: 1.1em;
    }
}

@media screen and (max-width: 850px) {
    .footer nav a {
        font-size: 1em;
    }
    .meMedia {
        width: 100%;
    }
}


@media screen and (max-width: 650px) {
   
    .meMedia, 
    .sprite, 
    .otherContacts, 
    .contacts {
        width: 100%;
        font-size: 1.2em;
    }
 
}


.footer nav a:hover {
    transition-duration: 1s;
    color: brown;
    
    
}